<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Shesha Apps | Category Event Questions</title>
    <meta name="description" content="">
    <meta name="author" content="Vodacom">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,600,600i">
    <link rel="stylesheet" href="/libs/skeleton/css/normalize.css">
    <link rel="stylesheet" href="/libs/skeleton/css/skeleton.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/boxconfigurator.css">
    <link rel="stylesheet" href="/libs/animate.css/animate.min.css">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>

<body class="wizard">

    <div class="toolbar">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <a href="/qoute/wizard/category">
                        <i class="fas fa-arrow-left"></i>GO BACK
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <h5>
                        Step 3 of 7
                    </h5>
                    <h1>
                        What type of event are you planning?
                    </h1>
                    <p>
                        Below are a few types of events. You can select the one that best suits your applicaiton. The selection will determine the
                        type of features that will make up your application. You can click continue if you don't have a category
                        that suits your needs.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="long-radio-options">
                    <label class="selection">
                        Conference
                        <input type="radio" name="radio" value="conference" checked />
                        <span class="checkmark"></span>
                    </label>
                    <label class="selection">
                        Corporate or Customer Event
                        <input type="radio" name="radio" value="corporate or customer event" />
                        <span class="checkmark"></span>
                    </label>
                    <label class="selection">
                        Music or Festival
                        <input type="radio" name="radio" value="music or festival" />
                        <span class="checkmark"></span>
                    </label>
                    <label class="selection">
                        Sporting
                        <input type="radio" name="radio" value="sporting" />
                        <span class="checkmark"></span>
                    </label>
                    <label class="selection">
                        Wedding
                        <input type="radio" name="radio" value="wedding" />
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="row">
                <a href="/qoute/wizard/category/event/features" class="main-button continue" style="margin-bottom: 20px;">Continue</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="four columns"></div>
            <div class="four columns"></div>
            <div class="four columns"></div>
        </div>
    </div>

</body>

</html>