<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Shesha Apps | Category</title>
    <meta name="description" content="">
    <meta name="author" content="Vodacom">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,600,600i">
    <link rel="stylesheet" href="/libs/skeleton/css/normalize.css">
    <link rel="stylesheet" href="/libs/skeleton/css/skeleton.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/boxconfigurator.css">
    <link rel="stylesheet" href="/libs/animate.css/animate.min.css">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>

<body class="wizard">

    <div class="toolbar">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <a href="/qoute/wizard/description">
                        <i class="fas fa-arrow-left"></i>GO BACK
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <h5>
                        Step 2 of 6
                    </h5>
                    <h1>
                        What is your app's main focus?
                    </h1>
                    <p>
                        Tell us a bit more about what your application will be focusing on so we can help you determine the best features to help
                        you get started. Don't worry about not being exact, you can customise this a bit alter. You can click
                        continue if you don't have a category that suits your needs.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="big-radio-options">
                    <label>
                        <input type="radio" name="radio" value="event" />
                        <div class="simple box">
                            <img src="/img/icons/event.png" />
                            <span>Event</span>
                            <p>
                                Your application is going to be mainly used for an event or conference by people attending your event.
                            </p>
                        </div>
                    </label>
                    <label>
                        <input type="radio" name="radio" value="customer" />
                        <div class="simple box">
                            <img src="/img/icons/customer.png" />
                            <span>Customer</span>
                            <p>
                                Your application is going to be mainly targeted at your customers that you sell services or products to.
                            </p>
                        </div>
                    </label>
                    <label>
                        <input type="radio" name="radio" value="employee" />
                        <div class="simple box">
                            <img src="/img/icons/employee.png" />
                            <span>Employee</span>
                            <p>
                                Your application is going to be mainly targeted at your employees that you need to engagement with regularly.
                            </p>
                        </div>
                    </label>
                    <label>
                        <input type="radio" name="radio" value="community" />
                        <div class="simple box">
                            <img src="/img/icons/community.png" />
                            <span>Community</span>
                            <p>
                                Your application is going to be mainly targeted at the general public that you need to engagement with regularly.
                            </p>
                        </div>
                    </label>
                    <label>
                        <input type="radio" name="radio" value="other" />
                        <div class="simple box">
                            <img src="/img/icons/other.png" />
                            <span>Other</span>
                            <p>
                                The application does not really fit into the ctegories listed and you would like to describe what your needs are.
                            </p>
                        </div>
                    </label>
                </div>
            </div>
            <div class="row">
                <a href="/qoute/wizard/features" class="main-button continue" style="margin-bottom: 20px;">Continue</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="four columns"></div>
            <div class="four columns"></div>
            <div class="four columns"></div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {

            // default link location
            $("a.continue").attr("href", "/qoute/wizard/category/other/questions");

            // radio button changed
            $('input:radio[name="radio"]').change(
                function () {
                    switch (this.value) {
                        case 'event':
                            updateLink(this.value);
                            break;
                        case 'customer':
                            updateLink(this.value);
                            break;
                        case 'employee':
                            updateLink(this.value);
                            break;
                        case 'community':
                            updateLink(this.value);
                            break;
                        case 'other':
                            updateLink(this.value);
                            break;
                    }
                });

            // updates the link for continue
            function updateLink(category) {
                var link = "/qoute/wizard/category/" + category + "/questions";
                $("a.continue").attr("href", link);
            }

        });
    </script>

</body>

</html>