<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Boxconfigurator | Integrations</title>
    <meta name="description" content="">
    <meta name="author" content="Boxfusion">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,600,600i">
    <link rel="stylesheet" href="/libs/skeleton/css/normalize.css">
    <link rel="stylesheet" href="/libs/skeleton/css/skeleton.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/boxconfigurator.css">
    <link rel="stylesheet" href="/libs/animate.css/animate.min.css">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>

<body class="wizard">

    <div class="toolbar">
        <div class="container">
            <div class="row">
                <div class="six columns">
                    <a href="/qoute/wizard/design">
                        <i class="fas fa-arrow-left"></i>GO BACK
                    </a>
                </div>
                <div class="six columns" style="text-align: right;">
                    Total Cost R
                    <strong> 0</strong>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <h5>
                        Step 3 of 7
                    </h5>
                    <h1>
                        Tell us about your target market.
                    </h1>
                    <p>
                        The target of your application helps to scope the type of users that will be using your applicaiton. Knowing this up front
                        will help us determine the size of the audience and the hardware and software specifications to run
                        your app.
                    </p>
                    <a href="/qoute/wizard/category" class="main-button" style="margin-bottom: 20px;">Continue</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="four columns"></div>
            <div class="four columns"></div>
            <div class="four columns"></div>
        </div>
    </div>

</body>

</html>