<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Shesha Apps | Category Other Questions</title>
    <meta name="description" content="">
    <meta name="author" content="Vodacom">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,600,600i">
    <link rel="stylesheet" href="/libs/skeleton/css/normalize.css">
    <link rel="stylesheet" href="/libs/skeleton/css/skeleton.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/boxconfigurator.css">
    <link rel="stylesheet" href="/libs/animate.css/animate.min.css">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>

<body class="wizard">

    <div class="toolbar">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <a href="/qoute/wizard/category">
                        <i class="fas fa-arrow-left"></i>GO BACK
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <h5>
                        Step 3 of 7
                    </h5>
                    <h1>
                        Tell us about your ideal app.
                    </h1>
                    <p>
                        You did not make a category selection which tells us that our prebuilt options did not meet your requirements. You can fill
                        out the form below to give us more details about your ideal application.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="twelve columns">
                    <form>
                        <textarea rows="5" class="u-full-width" placeholder="" style="margin-top: 20px; color: black;" id="description"></textarea>
                    </form>
                </div>
            </div>
            <div class="row">
                <a href="/qoute/wizard/features" class="main-button continue" style="margin-bottom: 20px;">Continue</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="four columns"></div>
            <div class="four columns"></div>
            <div class="four columns"></div>
        </div>
    </div>

</body>

</html>