<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Shesha Apps | Features Event Questions</title>
    <meta name="description" content="">
    <meta name="author" content="Vodacom">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,600,600i">
    <link rel="stylesheet" href="/libs/skeleton/css/normalize.css">
    <link rel="stylesheet" href="/libs/skeleton/css/skeleton.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/boxconfigurator.css">
    <link rel="stylesheet" href="/libs/animate.css/animate.min.css">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>

<body class="wizard">

    <div class="toolbar">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <a href="/qoute/wizard/category/event/questions">
                        <i class="fas fa-arrow-left"></i>GO BACK
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <h5>
                        Step 4 of 6
                    </h5>
                    <h1>
                        What features will your app have?
                    </h1>
                    <p>
                        Below are a list of features. You can select the options you want built into your applicaiton. You can edit the final application
                        in the configurator once the application is set up.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="long-checkbox-options">
                    <label class="selection">
                        Event Programme <br />
                        <div style="color:#313131;font-size: 10px;">List the programme for the event</div>
                        <input type="checkbox" name="checkbox" value="Event Programme" checked="checked" />
                        <span class="checkmark"></span>
                    </label>
                    <label class="selection">
                        Useful Contacts <br />
                        <div style="color:#313131;font-size: 10px;">Display useful contact numbers and event team details</div>
                        <input type="checkbox" name="checkbox" value="Useful Contacts" checked="checked" />
                        <span class="checkmark"></span>
                    </label>
                    <label class="selection">
                        Schedule or Calendar
                        <div style="color:#313131;font-size: 10px;">Displays schedules and items in a calendar that syncs to the phone</div>
                        <input type="checkbox" name="checkbox" value="Schedule or Calendar" checked="checked" />
                        <span class="checkmark"></span>
                    </label>
                    <label class="selection">
                        Weather Forecast <br />
                        <div style="color:#313131;font-size: 10px;">Show the weather forecast</div>
                        <input type="checkbox" name="checkbox" value="Weather Forecast" />
                        <span class="checkmark"></span>
                    </label>
                    <label class="selection">
                        Map <br />
                        <div style="color:#313131;font-size: 10px;">Display the event location and other points of interest </div>
                        <input type="checkbox" name="checkbox" value="Map" />
                        <span class="checkmark"></span>
                    </label>
                    <label class="selection">
                        Gallery <br />
                        <div style="color:#313131;font-size: 10px;">Display pictures of the event as they unfold </div>
                        <input type="checkbox" name="checkbox" value="Gallery" checked="checked" />
                        <span class="checkmark"></span>
                    </label>
                    <label class="selection">
                        Push Notifications <br />
                        <div style="color:#313131;font-size: 10px;">Send messages and alerts to attendees</div>
                        <input type="checkbox" name="checkbox" value="Push Notifications" checked="checked" />
                        <span class="checkmark"></span>
                    </label>
                    <label class="selection">
                        Document Viewer <br />
                        <div style="color:#313131;font-size: 10px;">Display useful information that may already be available as documents (e.g. Detailed programme information,
                            menus, venue information, etc...)</div>
                        <input type="checkbox" name="checkbox" value="Document Viewer" />
                        <span class="checkmark"></span>
                    </label>
                    <label class="selection">
                        Webpage Viewer <br />
                        <div style="color:#313131;font-size: 10px;">Display existing web pages from within the app</div>
                        <input type="checkbox" name="checkbox" value="Webpage Viewer" />
                        <span class="checkmark"></span>
                    </label>
                    <label class="selection">
                        Surveys <br />
                        <div style="color:#313131;font-size: 10px;">Send out surveys and polls to your attendees.</div>
                        <input type="checkbox" name="checkbox" value="Surveys" />
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="row">
                <a href="/qoute/wizard/category/event/design" class="main-button continue" style="margin-bottom: 20px;">Continue</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="four columns"></div>
            <div class="four columns"></div>
            <div class="four columns"></div>
        </div>
    </div>

</body>

</html>