<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Shesha Apps | Category</title>
    <meta name="description" content="">
    <meta name="author" content="Vodacom">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,600,600i">
    <link rel="stylesheet" href="/libs/skeleton/css/normalize.css">
    <link rel="stylesheet" href="/libs/skeleton/css/skeleton.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/boxconfigurator.css">
    <link rel="stylesheet" href="/libs/animate.css/animate.min.css">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>

<body class="wizard">

    <div class="toolbar">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <a href="/qoute/wizard/category">
                        <i class="fas fa-arrow-left"></i>GO BACK
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <h5>
                        Step 3 of 7
                    </h5>
                    <h1>
                        What type of event are you planning?
                    </h1>
                    <p>
                        Below are a few questions that describe the type of application that you are planning on building. You can select the ones
                        that best suit your applicaiton. The selection will determine the type of features that will make
                        up your application.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="long-radio-options">
                    <label class="selection">
                        Your application is going to be mainly used for events and conferenceres by event goers and coordinators.
                        <input type="radio" name="radio" value="event" />
                        <span class="checkmark"></span>
                    </label>
                    <label class="selection">
                        Your application is going to be mainly targeted at your customers that you sell services or products to.
                        <input type="radio" name="radio" value="customer" />
                        <span class="checkmark"></span>
                    </label>
                    <label class="selection">
                        Your application is going to be mainly targeted at your employees that you need to engagement with regularly.
                        <input type="radio" name="radio" value="employee" />
                        <span class="checkmark"></span>
                    </label>
                    <label class="selection">
                        Your application is going to be mainly targeted at the general public that you need to engagement with regularly.
                        <input type="radio" name="radio" value="community" />
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="row">
                <a href="/qoute/wizard/features" class="main-button continue" style="margin-bottom: 20px;">Continue</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="four columns"></div>
            <div class="four columns"></div>
            <div class="four columns"></div>
        </div>
    </div>

</body>

</html>