<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Boxconfigurator | Integrations</title>
    <meta name="description" content="">
    <meta name="author" content="Boxfusion">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,600,600i">
    <link rel="stylesheet" href="/libs/skeleton/css/normalize.css">
    <link rel="stylesheet" href="/libs/skeleton/css/skeleton.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/boxconfigurator.css">
    <link rel="stylesheet" href="/libs/animate.css/animate.min.css">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>

<body class="wizard">

    <div class="toolbar">
        <div class="container">
            <div class="row">
                <div class="six columns">
                    <a href="/qoute/wizard/features">
                        <i class="fas fa-arrow-left"></i>GO BACK
                    </a>
                </div>
                <div class="six columns" style="text-align: right;">
                    Total Cost R
                    <strong> 0</strong>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="twelve columns">
                    <h5>
                        Step 6 of 7
                    </h5>
                    <h1>
                        What systems do you integrate with?
                    </h1>
                    <p>
                        Select the third party existing applications or online systems systems that you think your applicaiton will need to connect
                        with in order to create a seamless applicaiton experience for your users.
                    </p>
                    <a href="/qoute/wizard/complete" class="main-button" style="margin-bottom: 20px;">Continue</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="four columns"></div>
            <div class="four columns"></div>
            <div class="four columns"></div>
        </div>
    </div>

</body>

</html>